body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    font-family: 'Courier New', Courier, monospace;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #584a3e;
}

header{
    margin: 100px 0 0 400px;

    h1{
        color: white;
    }
}

main{
    margin: 30px 0 0 300px;
    display: flex;
    flex-direction: column;
    color: white;

    h3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight:bold;
    }

    .homenagem{
        display: flex;
        flex-direction: row;
        gap: 18%;
        

        p{
            width: 500px;
            font-size: 18px;
            letter-spacing: 0.6px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        img{
            border: 1px solid #9c9ca5;
            border-radius: 3%;
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60px;
    background-color: rgb(73, 68, 68);

    p{
        color: white;
        font-weight: bold;
    }

    border-radius: 10px;

}

@media (max-width:1280px){
    header{
        margin: 100px auto 50px auto;

        h1{
            font-size: 25px;
        }
    }

    main{
        margin: 0 10% 10% 10%;

        .homenagem{
            flex-direction: column;
            gap: 30px;

            p{
                width: auto;
            }
        }
    }
}